<form action="">
    <input id="fd1" type="text"  placeholder="price">
    <input id="fd2" type="text" placeholder="Your network provider">
    <input id="fd3" type="text" placeholder="Recipient number">
    <input id="fd4" type="text" placeholder="Your number">
    <input id="fd5" type="text" placeholder="Options">
    <input id="fd6" type="text" placeholder="nnn">
    <button type="submit">submit</button>
</form>